{% extends "layout.html" %}

{% block style %}
    <style>
        .container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        form {
            max-width: 500px;
            width: 100%;
            border: 2px solid rgba(204, 204, 204, 0.2); 
            padding: 16px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <form class="border-shadow" method="POST" action="{% url 'register_user' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name='username' required>
        </div>
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name='first_name' required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name='last_name' required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-3">Register</button>
        <a class="btn btn-outline-primary w-100" href="{% url 'login_user' %}">Already Registered? LogIn</a>
    </form>
    
</div>
{% endblock %}
